<div class="main">

  <div class="up-down-margin-lg">
    <h2>Sign up</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field up-down-margin-sm">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field up-down-margin-sm">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field up-down-margin-sm">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    (英数字 <%= @minimum_password_length %> 文字以上)
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field up-down-margin-sm">
    <%= f.label "Passwordを再度入力" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions up-down-margin-sm">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
