<div class="main mail">

  <table class="table table-striped">
    <tbody>
      <tr>
        <th style="width: 30%">お名前</th>
        <td style="width: 70%"><%= @contact.name %></td>
      </tr>
      <tr>
        <th class="">メールアドレス</th>
        <td><%= @contact.email %></td>
      </tr>
      <tr>
        <th class="">メッセージ</th>
        <td><%= @contact.message %></td>
      </tr>
    </tbody>
  </table>

  <%= form_for @contact do |f| %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :email %>
    <%= f.hidden_field :message %>
    <div>
      <%= f.submit '送信', class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= form_for @contact, url: back_path do |f| %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :email %>
    <%= f.hidden_field :message %>
    <div>
      <%= f.submit '入力画面に戻る', class: "back" %>
    </div>
  <% end %>

</div>
