<div class="main break">

  <%# 休憩メッセージ %>
  <div>
    <p>お疲れ様でした。ストレッチをして身体を休めましょう。</p>
    <div>
      <iframe id="movie" width="560" height="315" src="https://www.youtube.com/embed/iEda-ZxH_1M" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <button class="btn btn-secondary w-25" id="movie_switch">別動画</button>
  </div>

  <%# Homeボタン %>
  <% if user_signed_in? %>
    <div>
      <%= link_to "タイマーログを見る", timer_timerlog_path, class: "btn btn-primary w-25" %>
    </div>
  <% else %>
    <div>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
    </div>
    <div class="signup">
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-link" %>
    </div>
  <% end %>
  <div class="return">
    <%= link_to "戻る", root_path, class: "btn btn-primary w-25" %>
  </div>

  <%= javascript_pack_tag 'timer/break' %>
</div>