<div class="main">

  <!-- 通知許可ボタン -->
  <button class="btn btn-primary" id="notification-button">
    まずはここをクリックして通知を許可してください
  </button>

  <!-- 推奨メッセージ -->
  <div class="up-down-margin-sm" id="recommend-message">
    <p>
      PC作業は1時間に10分程度の休憩をとることが推奨されています。
    </p>
    <p>
      参考リンク:
      <a href="https://www.mhlw.go.jp/content/000539604.pdf" target="_blank" rel="noopener noreferrer">
        情報機器作業における労働衛生管理のためのガイドラインについて
      </a>
    </p>
  </div>

  <!-- 休憩時間セット -->
  <div class="up-down-margin-sm" id="break-time-set">
    <p class="d-inline">
      休憩通知間隔を選んでください　:　
    </p>

    <select class="d-inline" id="break-time">
      <option value="0" id="zero">0</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
      <option value="25">25</option>
      <option value="30">30</option>
      <option value="35">35</option>
      <option value="40">40</option>
      <option value="45">45</option>
      <option value="50">50</option>
      <option value="55">55</option>
    </select>

    <p class="d-inline">
    　分
    </p>
  </div>

  <!-- タイマ開始ボタン -->
  <%= form_for(@new_worktime) do |f| %>
    <%= f.hidden_field :start_time, :value => Time.now.to_f*1000 %>
    <%= f.submit "Timer Start", class: "btn btn-primary", id: "start-button" %>
  <% end %>

  <!-- 時間表示 -->
  <div id="time-display-box">
    <p id="time-message" >
      計測中
    </p>
    <p id="time-display">
      00 : 00 : 00
    </p>
  </div>

  <!-- 一時停止&休憩ボタン -->
  <div class="btn-group up-down-margin-sm" id="pause-break-button">

    <%= form_for(@update_worktime) do |f| %>
      <%= f.hidden_field :pause_time, :value => Time.now.to_f*1000 %>
      <%= f.submit "一時停止", class: "btn btn-primary", id: "pause-button" %>
    <% end %>

    <button class="btn btn-primary" id="break-button">
      休憩
    </button>

  </div>

  <!-- 休憩メッセージ -->
  <div id="break-message">
    <p>
      お疲れ様です。目を休めてストレッチをしましょう。
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/iEda-ZxH_1M" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/cuUU3UOkswg" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7EYkfn5yLOo" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hEUxM9BEqGc" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WRfT5RIMfYU" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/h8tu-bWYatw" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
  
  <!-- タイマ再開ボタン -->
  <button class="btn btn-primary" id="restart-button">
    タイマ再開
  </button>

  <!-- 更新履歴、ご要望 -->
  <div class="links">
    <a class="btn btn-outline-primary btn-sm" href="./html/log.html" target="_blank">
      更新履歴
    </a>
    <a class="btn btn-outline-primary btn-sm" href="http://gunj0.site-station.net/" target="_blank">
      ご意見・ご要望
    </a>
  </div>

</div>
