<div class="main">

  <%# 通知許可ボタン %>
  <button class="btn btn-primary" id="notification_button">
    まずはここをクリックして通知を許可してください
  </button>

  <%# 推奨メッセージ %>
  <div class="up-down-margin-sm" id="recommend_message">
    <p>PC作業は1時間に10分程度の休憩をとることが推奨されています。</p>
    <p>参考リンク:
      <a href="https://www.mhlw.go.jp/content/000539604.pdf" target="_blank" rel="noopener noreferrer">
        情報機器作業における労働衛生管理のためのガイドラインについて
      </a>
    </p>
  </div>

  <%# 休憩間隔セット %>
  <div class="up-down-margin-sm" id="break_time_set">
    <p class="d-inline">休憩通知間隔を選んでStartしてください　:　</p>
    <select class="d-inline" id="break-time">
      <option value="0" id="zero">0</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="20">20</option>
      <option value="25">25</option>
      <option value="30">30</option>
      <option value="35">35</option>
      <option value="40">40</option>
      <option value="45">45</option>
      <option value="50">50</option>
      <option value="55">55</option>
    </select>
    <p class="d-inline">分</p>
  </div>

  <%# タイマ開始ボタン %>
  <% if user_signed_in? %>
    <%= form_for(@new_worktime) do |f| %>
      <%= f.hidden_field :start_time %>
      <%= f.hidden_field :pause_time %>
      <%= f.hidden_field :restart_time %>
      <%= f.hidden_field :accumulate_time %>
      <%= f.hidden_field :in_progress %>
      <%= f.submit "Timer Start", class: "btn btn-primary w-25", id: "start_button" %>
    <% end %>
  <% else %>
    <%= link_to "Timer Start", timer_work_path, class: "btn btn-primary w-25", id: "start_button", data: {"turbolinks" => false} %>
  <% end %>

  <%= javascript_pack_tag 'timer/index' %>
</div>
