<div class="main index">

  <div class="message">
    <h1>デスクワークで目と身体が疲れていませんか?</h1>
    <h2>定期的にストレッチをして、健康的な生活をおくりましょう。</h2>
  </div>

  <%# deivseフラッシュメッセージ %>
  <p class="notice text-success text-center"><%= notice %></p>
  <p class="alert text-danger text-center"><%= alert %></p>

  <%# 通知許可ボタン %>
  <button class="btn btn-primary" id="notification_button">
    まずはここをクリックして通知を許可しましょう。
  </button>

  <%# 休憩間隔セット %>
  <div id="notification_timing_set">
    <div class="timing-select">
      <p class="d-inline">休憩時間　:　</p>
      <select name=”timing” class="d-inline" id="notification_timing">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
        <option value="60">60</option>
      </select>
      <p class="d-inline">分後</p>
    </div>
  </div>

  <%# タイマ開始ボタン %>
  <% if user_signed_in? %>
    <%= form_for(@new_worktime) do |f| %>
      <%= f.hidden_field :start_time %>
      <%= f.hidden_field :pause_time %>
      <%= f.hidden_field :restart_time %>
      <%= f.hidden_field :accumulate_time %>
      <%= f.hidden_field :in_progress %>
      <%= f.hidden_field :timing %>
      <%= f.submit "Timer Start", class: "btn btn-primary w-25", id: "start_button" %>
    <% end %>
  <% else %>
    <%= link_to "Timer Start", timer_work_path,method: :get, class: "btn btn-primary w-25", id: "start_button" %>
  <% end %>

  <%# ログイン %>
  <% unless user_signed_in? %>
    <div class="login">
      <div class="guest">
        <%= link_to 'ゲストログイン(お試し用)', timer_guest_sign_in_path, method: :post, class: "btn btn-info" %>
      </div>
    </div>
  <% end %>

  <%# 推奨メッセージ %>
  <div id="recommend_message">
    <p>PC作業は1時間毎に10〜15分の休憩をとることが推奨されています。</p>
    <p class="reference">参考リンク:
      <a href="https://www.mhlw.go.jp/content/000580827.pdf" target="_blank" rel="noopener noreferrer">
        情報機器作業における労働衛生管理のためのガイドライン
      </a>
    </p>
  </div>

  <%= javascript_pack_tag 'timer/index' %>
</div>
