<div class="main timerlog">
  <% if user_signed_in? %>

    <% if @worktimes.present? %>

      <h2>Timer Log</h2>
      <%= paginate @worktimes %>

      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th>開始時間</th>
              <th>終了時間</th>
              <th>途中休憩時間</th>
              <th>合計作業時間</th>
              <th>健康度</th>
            </tr>
          </thead>
          <% @worktimes.each do |worktime| %>
            <tr>
              <td><%= Time.at(worktime.start_time/1000).strftime("%m/%d %H:%M:%S") %></td>
              <% if (worktime.end_time.present?) %>
                <td><%= Time.at(worktime.end_time/1000).strftime("%m/%d %H:%M:%S") %></td>
                <% hoge   = worktime.end_time - worktime.start_time - worktime.accumulate_time %>
                <% hours   = (hoge/1000/60/60).to_s.rjust(2, '0') %>
                <% minutes = (hoge/1000/60%60).to_s.rjust(2, '0') %>
                <% seconds = (hoge/1000%60).to_s.rjust(2, '0') %>
                <td><%= hours %>:<%= minutes %>:<%= seconds %></td>
                <% hours   = (worktime.accumulate_time/1000/60/60).to_s.rjust(2, '0') %>
                <% minutes = (worktime.accumulate_time/1000/60%60).to_s.rjust(2, '0') %>
                <% seconds = (worktime.accumulate_time/1000%60).to_s.rjust(2, '0') %>
                <td><%= hours %>:<%= minutes %>:<%= seconds %></td>
                <td>Good</td>
              <% else %>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              <% end %>
            </tr>
          <%end%>
        </table>
      </div>

      <%= paginate @worktimes %>

    <% else %>

      <%# ログがないとき %>
      <div>タイマーログがここに記録されていきます。</div>
    <% end %>
  <% else %>

    <%# 非ログイン時 %>
    <div>ログインすると、タイマーログが見られるようになります。</div>
  <% end %>
</div>