<div class="main timerlog">
  <% if user_signed_in? %>

    <% if @worktimes.present? %>

      <h2>Timer Log</h2>

      <p>健康度･･･設定休憩間隔+10分以内に休憩を取ったかを判定します。</p>

      <%= paginate @worktimes %>

      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th>開始時間</th>
              <th>終了時間</th>
              <th>途中休憩時間</th>
              <th>合計作業時間</th>
              <th>設定休憩間隔</th>
              <th>健康度</th>
            </tr>
          </thead>
          <% @worktimes.each do |worktime| %>
            <tr>
              <%# 開始時間 %>
              <td><%= Time.at(worktime.start_time/1000).strftime("%m/%d %H:%M:%S") %></td>

              <%# 休憩ボタンを押していれば %>
              <% if worktime.end_time.present? %>
                <%# 終了時間 %>
                <td><%= Time.at(worktime.end_time/1000).strftime("%m/%d %H:%M:%S") %></td>
                <% hoge   = worktime.end_time - worktime.start_time - worktime.accumulate_time %>
                <% hours   = (hoge/1000/60/60).to_s.rjust(2, '0') %>
                <% minutes = (hoge/1000/60%60).to_s.rjust(2, '0') %>
                <% seconds = (hoge/1000%60).to_s.rjust(2, '0') %>
                <td><%= hours %>:<%= minutes %>:<%= seconds %></td>
                <% hours   = (worktime.accumulate_time/1000/60/60).to_s.rjust(2, '0') %>
                <% minutes = (worktime.accumulate_time/1000/60%60).to_s.rjust(2, '0') %>
                <% seconds = (worktime.accumulate_time/1000%60).to_s.rjust(2, '0') %>
                <td><%= hours %>:<%= minutes %>:<%= seconds %></td>
                <td><%= worktime.timing %> 分</td>
                <% if worktime.accumulate_time/1000 <= worktime.timing*60 + 10*60 %>
                  <td class="good">Good</td>
                <% else %>
                  <td class="bad">Bad</td>
                <% end %>
              <% else %>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              <% end %>
            </tr>
          <%end%>
        </table>
      </div>

      <%= paginate @worktimes %>

    <% else %>

      <%# ログがないとき %>
      <div class="message">
        <p>タイマーログがここに記録されていきます。</p>
      </div>
    <% end %>
  <% else %>

    <%# 非ログイン時 %>
    <div class="message">
      <p>ログインすると、タイマーログが見られるようになります。</p>
    </div>
  <% end %>
</div>