<div class="main">

  <%# DB取得 %>
  <div id="db_time" data-json="<%= @update_worktime.to_json %>"></div>

  <%# 時間表示 %>
  <div>
    <p id="time_message">計測中</p>
    <p id="time_display">Now Loading...</p>
    <p id="timing_display">休憩間隔:00分 </p>
  </div>

  <div class="btn-group up-down-margin-sm">
    <%# 一時停止ボタン %>
    <div id="pause_button">
      <% if user_signed_in? %>
        <%= form_for(@update_worktime, html: { name: "pause_form" }) do |f| %>
          <%= f.hidden_field :pause_time %>
          <%= f.hidden_field :accumulate_time, id:"pause_accumulate_time" %>
          <%= f.hidden_field :in_progress, id:"pause_in_progress" %>
          <%= f.submit "一時停止", class: "btn btn-primary", id: "pause_submit", type: "button" %>
        <% end %>
      <% else %>
        <button class="btn btn-primary" id="pause_button_nologin">一時停止</button>
      <% end %>
    </div>

    <%# 再開ボタン %>
    <div id="restart_button">
      <% if user_signed_in? %>
        <%= form_for(@update_worktime, html: { name: "restart_form" }) do |f| %>
          <%= f.hidden_field :restart_time %>
          <%= f.hidden_field :in_progress, id:"restart_in_progress" %>
          <%= f.submit "再開", class: "btn btn-primary", id: "restart_submit", type: "button" %>
        <% end %>
      <% else %>
        <button class="btn btn-primary" id="restart_button_nologin">再開</button>
      <% end %>
    </div>

    <%# 休憩ボタン %>
    <div id="break_button">
      <% if user_signed_in? %>
        <%= form_for(@update_worktime) do |f| %>
          <%= f.hidden_field :end_time %>
          <%= f.hidden_field :accumulate_time, id:"break_accumulate_time" %>
          <%= f.hidden_field :in_progress, id:"break_in_progress" %>
          <%= f.submit "休憩", class: "btn btn-primary"%>
        <% end %>
      <% else %>
        <%= link_to "休憩", timer_break_path, class: "btn btn-primary" %>
      <% end %>
    </div>

  </div>

  <%= javascript_pack_tag 'timer/work' %>
</div>
