<div class="main">

<div>
  <%= javascript_tag do %>
    let db_start_time = <%= raw @start_time.to_json %>;
    let db_pause_time = <%= raw @pause_time.to_json %>;
    let db_restart_time = <%= raw @restart_time.to_json %>;
    let db_accumulate_time = <%= raw @accumulate_time.to_json %>;
    let db_in_progress = <%= raw @in_progress.to_json %>;
  <% end %>
</div>

  <%# 時間表示 %>
  <div id="time-display-box">
    <p id="time-message">計測中</p>
    <p id="time-display">Now Loading...</p>
  </div>

  <div class="btn-group up-down-margin-sm" id="pause-break-button">
    <%# 一時停止ボタン %>
    <div id="pause-button">
      <% if user_signed_in? %>
        <%= form_for(@update_worktime, html: { name: "pause_form" }) do |f| %>
          <%= f.hidden_field :pause_time %>
          <%= f.hidden_field :in_progress, id:"pause_in_progress" %>
          <%= f.submit "一時停止", class: "btn btn-primary", id: "pause_submit", type: "button" %>
        <% end %>
      <% else %>
        <p class="btn btn-primary">一時停止</p>
      <% end %>
    </div>

    <%# 再開ボタン %>
    <div id="restart-button">
      <% if user_signed_in? %>
        <%= form_for(@update_worktime, html: { name: "restart_form" }) do |f| %>
          <%= f.hidden_field :restart_time %>
          <%= f.hidden_field :accumulate_time %>
          <%= f.hidden_field :in_progress, id:"restart_in_progress" %>
          <%= f.submit "再開", class: "btn btn-primary", id: "restart_submit", type: "button" %>
        <% end %>
      <% else %>
        <p class="btn btn-primary">再開</p>
      <% end %>
    </div>

    <%# 休憩ボタン %>
    <div id="break-button">
      <% if user_signed_in? %>
        <%= form_for(@update_worktime) do |f| %>
          <%= f.hidden_field :end_time %>
          <%= f.hidden_field :in_progress, id:"break_in_progress" %>
          <%= f.submit "休憩", class: "btn btn-primary"%>
        <% end %>
      <% else %>
        <%= link_to "休憩", timer_break_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <%= javascript_pack_tag 'timer/work' %>
</div>
