<!DOCTYPE html>
<html>
  <head>
    <title>Stretch Timer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%#= javascript_pack_tag 'hello_vue' %>
    <%#= stylesheet_pack_tag 'hello_vue' %>
  </head>

  <body>

    <%# ナビゲーションバー %>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">

        <%# ロゴ %>
        <%= link_to image_tag('logo.png', height: '50'), root_path, class: 'navbar-brand' %>

        <%# ログイン時のName表示 %>
        <% if user_signed_in? %>
          <div class="user-name text-white ml-auto">User: <%= current_user.name %></div>
        <% else %>
          <div class="user-name text-white ml-auto"></div>
        <% end %>

        <%# 展開ボタン %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <%# リンク %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <%= content_tag :li, (link_to "Timer", root_path, class: "nav-link nav-item #{ 'active' if current_page?(root_path)|current_page?(timer_index_path)|current_page?(timer_work_path)|current_page?(timer_break_path)}") %>
            <%= content_tag :li, (link_to "About", timer_about_path, class: "nav-link nav-item #{ 'active' if current_page?(timer_about_path)}") %>
            <%= content_tag :li, (link_to "TimerLog", timer_timerlog_path, class: "nav-link nav-item #{ 'active' if current_page?(timer_timerlog_path)}") %>

            <% if user_signed_in? %>
              <%= content_tag :li, (link_to "User", edit_user_registration_path, class: "post nav-link nav-item #{ 'active' if current_page?(edit_user_registration_path)}") %>
              <%= content_tag :li, (link_to "LogOut", destroy_user_session_path, {method: :delete, class: "nav-link nav-item"}) %>
            <% else %>
              <%= content_tag :li, (link_to "LogIn", new_user_session_path, class: "post nav-link nav-item #{ 'active' if current_page?(new_user_session_path)}") %>
              <%= content_tag :li, (link_to "SignUp", new_user_registration_path, class: "post nav-link nav-item #{ 'active' if current_page?(new_user_registration_path)}") %>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <div class="footer">
      <%# 更新履歴、ご要望 %>
      <div class="links">
        <%= link_to "お問い合わせ", new_contact_path, class: "btn btn-outline-primary btn-sm" %>
      </div>

      <%# footer %>
      <div class="copyright">
        <p>Copyright © 2021 Moritani. All Rights Reserved.</p>
      </div>
    </div>

  </body>
</html>
