<!DOCTYPE html>
<html>
  <head>
    <title>Stretch Timer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>

    <%# ナビゲーションバー %>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">

        <%# ロゴ %>
        <%= link_to image_tag('logo.png', height: '50'), root_path, class: 'navbar-brand' %>

        <%# ログイン時のName表示 %>
        <% if user_signed_in? %>
          <div class="user-name text-white ml-auto">User: <%= current_user.name %></div>
        <% else %>
          <div class="user-name text-white ml-auto"></div>
        <% end %>

        <%# 展開ボタン %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <%# リンク %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <%= content_tag :li, (link_to "Home", root_path, class: "nav-link nav-item #{ 'active' if current_page?(root_path)|current_page?(timer_index_path)}") %>
            <%= content_tag :li, (link_to "About", timer_about_path, class: "nav-link nav-item #{ 'active' if current_page?(timer_about_path)}") %>
            <%= content_tag :li, (link_to "TimerLog", timer_timerlog_path, class: "nav-link nav-item #{ 'active' if current_page?(timer_timerlog_path)}") %>

            <% if user_signed_in? %>
              <%= content_tag :li, (link_to "LogOut", destroy_user_session_path, {method: :delete, class: "nav-link nav-item #{ 'active' if current_page?(destroy_user_session_path)}"}) %>
            <% else %>
              <%= content_tag :li, (link_to "LogIn", new_user_session_path, class: "post nav-link nav-item #{ 'active' if current_page?(new_user_session_path)}") %>
              <%= content_tag :li, (link_to "SignUp", new_user_registration_path, class: "post nav-link nav-item #{ 'active' if current_page?(new_user_registration_path)}") %>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <%# deivseフラッシュメッセージ %>
    <p class="notice text-success text-center"><%= notice %></p>
    <p class="alert text-danger text-center"><%= alert %></p>

    <%= yield %>

      <!-- 更新履歴、ご要望 -->
      <div class="links">
        <a class="btn btn-outline-primary btn-sm" href="./html/log.html" target="_blank">
          更新履歴
        </a>
        <a class="btn btn-outline-primary btn-sm" href="http://gunj0.site-station.net/" target="_blank">
          ご意見・ご要望
        </a>
      </div>

  </body>
</html>
